.firecrawl/

# Fisher-generated (not tracked)
.config/fish/completions/
.config/fish/conf.d/
.config/fish/functions/fisher.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/_*

